@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Unbounded', cursive;
  background: #222222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
*{
  outline: none;
  appearance: none;
}
button{
  font-family: 'Unbounded', cursive;
  appearance: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  padding:16px;
  transition: all .2s ease;

  &:hover{
    opacity: .7;
  }
}
.app{
  padding: 16px;
  .calculator{
    box-shadow: 0px 5px 64px rgba(20, 114, 255, 0.84);
    border-radius: 15px;
    overflow: hidden;
    background: #eeeeee;
    max-width: 400px;
    .display{

      padding: 16px;
      text-align: right;
      background: #222222;
      color: #eee;
      font-size: 24px;
      font-weight: 600;

      span{
        font-size: 14px;
        color: #6b6969;
        margin: 10px;
      }
    }
    .operators{
      display: flex;
      width: 100%;
      button{
        width: 25%;
        background: rgba(20, 114, 255);
      }
    }
    .digits{
      display: flex;
      flex-wrap: wrap;
      button{
        flex: 1 1 33.333%;
        max-width: 33.3333%;
        background: #222222;
      }
    }
  }
}